<div class="span12 metal">
	
	 <div class="row-fluid">
	 
	   <div class="span10">
	   		<h1><%=t("index_products_page.title")%></h1>
	        <hr/>
	   </div> 
	 
	   <div class="span2">
	     <%=render 'shared/flash_messages'%>
	   </div>
	 
	 </div>
	 
	 <%if @products.any?%>
   		  <%@products.each do |product|%>		
	 		<div class="row-fluid"> 
	 			
	 			<div class="span2">
	 				<%=image_tag("generic_product_large.gif",
        			:alt=>"generic_product_image",
        			:title=>t("show_product_page.generic_product_image"),
        			:class=>"gray_border")%>
        		</div>
    
    	        <div class="span10">
    		       
    		       <div class="row-fluid">
    		         <h1>
    		         
    		         	<%=(product.name)%>
    		                
    		         </h1>    
    		          
    		       </div> 	
      			   
      			   <div class="row-fluid">
      			     <div class="product_description">
      			     	<%=sanitize(product.description)%>
      			     </div>
      			    
      			   </div> 
      			
      			</div>
      			    
      		</div>        
            
            
            <div class="product_price">
      	      <%=number_to_currency(product.price)%>
      	    </div> 
            
            <br/>	
            <hr />
      <%end%> 
    <%end%>
</div>

